@page "/"

<PageTitle>Single</PageTitle>

@using singleApp.Data
@inject MusixmatchClient MusixmatchClient

<h1>Single</h1>

@if (track == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <p>
        Name:  @track.Track_Name <br />
        Artist: @track.Artist_Name <br />
        Album: @track.Album_Name <br />
        Lyrics: @lyrics.Lyrics_Body <br />
    </p>
}

@code {
    private MusixmatchChartTrackData? track = null;
    private MusixmatchLyricsData? lyrics = null;

    protected override async Task OnInitializedAsync()
    {
        track = await MusixmatchClient.GetSongFromChartAsync();

        lyrics = await MusixmatchClient.GetLyricsForTrackAsync(track.Track_Id); 
    }
}
